@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:ital,wght@0,500;1,700&display=swap');

:root {
    --cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --dk-blue: hsl(212, 21%, 14%);
    --gray-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */
